body{
    background-color: rgb(255, 249, 195);

}

.container{
    color:white;
    background-color: rgb(39, 12, 65);
    width: 2000px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 80px;
    border-radius: 20px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

input{
    border-radius: 30px;
    padding: 15px 20px;
    margin-bottom: 30px;
}

textarea{
    border-radius: 30px;
    padding: 15px 20px;
}

.button{
    background-color: rgb(255, 2, 230);
    border-radius: 40px;
    font-size: 30px;
    padding: 10px 30px;
    margin: 100px;
}

@media screen and (max-height: 900px){
    .container{
        width: 2000px;
        height: 750px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding-top: 20px;
    }
}

@media screen and (max-height: 700px){
    .container{
        height: 650px;
    }

    h1{
        margin-bottom: 10px;
    }

    input{
        padding: 5px 20px;
        margin-bottom: 10px;
    }

    textarea{
        padding: 5px 20px;
    }
}