body{
    background-color: rgb(72, 0, 78);
}

.container{
    background-color: rgb(244, 238, 185);
    border: 20px solid white;
    border-radius: 50px;
    padding: 50px;
    margin-top: 50px;
    display: none;
}

.card{
    background-image: linear-gradient(rgb(255, 0, 170), rgb(144, 0, 255));
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 50px;
    border-radius: 30px;
    margin-right: 50px;
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

input:not([type="radio"]){
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 20px;
    width: 400px;
}

button{
    background-color: rgb(255, 0, 85);
    border: 1px solid white;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 50px;
}

@media screen and (max-width: 770px){
    .container{
        border: 10px solid white;
        padding: 20px;
        margin-top: 20px;
    }

    .card{
        font-size: 10px;
        padding: 20px;
        margin-right: 30px;
    }
}

@media screen and (max-height: 950px){
    .container{
        padding: 20px;
        margin-top: 20px;
    }

    .card{
        font-size: 15px;
        padding: 20px;
        margin-right: 30px;
    }

    img{
        width: 80%;
        margin-left: 40px;
    }
}